# Cowrie Custom Configuration Options
# Place this in /home/cowrie/cowrie/etc/cowrie.cfg on the honeypot VM

[core]
# Set the hostname that the honeypot will report when logged in
hostname = srv-prod-web-01

[ssh]
# Enable SSH honeypot
enabled = true
# Port to listen on. Standard is 2222 so it doesn't need root permissions.
# We will use iptables / firewall to route port 22 traffic here.
listen_endpoints = tcp:2222:interface=0.0.0.0

[telnet]
# Disable telnet for simplicity unless explicitly needed
enabled = false

[output_jsonlog]
# Enable JSON logging (this is what the Ops Agent will parse and ship to GCP)
enabled = true
logfile = var/log/cowrie/cowrie.json
epoch_timestamps = false
format = json
